@import './_variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body > #root > div {
  height: 100vh;
}

.invertColors {
  filter: invert(100%);
}

.App { 
  &:focus {
    outline: 0;
  }
}

.MainWrapper {
  min-height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.TopMenuWrapper {
  height: $mainMenuHeight;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  
  .LanguageSelector {
    margin-left: 10px;
    width: 100px;
    display: inline-block;
    padding: 0 7px 0 10px;
    font-size: 2em;
    margin-right: auto;
    border-radius: 6px 6px 0 0;

    &:focus,
    &:focus-within {
      outline: 0;
    }

    &.open {
        background-color: #fff;
        color: #000;
        outline: 0;
      
    
      .LanguageDropDown,
      .LanguageDropDown,
      .LanguageDropDown {
        visibility: visible;
        z-index: 10;
      }
    }

    .LanguageDropDown {
      visibility: hidden;
      z-index: -9999;
      width: 100px;
      margin-left: -10px;
      margin-top: -1px; //ms edge positioning fix
      position: absolute;
      background-color: #fff;
      color: #000;
      font-size: 0.6em;
      padding: 0 6px 5px 8px;
      border-radius: 0 0 6px 6px;
      .LanguageItem {
        padding: 1px 3px;
        &:focus,
        &:focus-within {
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        outline: 0;
        }
      }
    }

  }



}


.MainContentWrapper {
  min-height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  > div {
    height: calc(100vh - #{$mainMenuHeight});
  }
}